:root {
    --color_container_primary: var(--primary);
    --color_container_secondary: var(--secondary);
}

:root {
    --color_text_neutral_0: var(--neutral_0);
    --color_text_primary:var(--primary);
}

:root {
    --color_border_primary: var(--primary);
    --color_border_secondary: var(--secondary);
}

