@import "./variables.scss";

$color_container_primary: $primary;
$color_container_secondary: $secondary;

$color_text_neutral_0: $neutral_0;
$color_text_primary: $primary;

$color_border_primary: $primary;
$color_border_secondary: $secondary;

$color_text_secondary : $secondary;