/*common property settings*/
.solid {
    border: none;
}

.outline {
    background: var(--color_text_neutral_0);
}

.text {
    background: var(--color_text_neutral_0);
    border: none;
}

/*size settings : 1rem = 16px*/
.large {
    padding: 0 20px 0 20px;
    height: 3.25rem;
}

.medium {
    padding: 0 16px 0 16px;
    height: 2.5rem;
}

.small {
    padding: 0 12px 0 12px;
    height: 2.1875rem;
}

/*primaryButton settings*/
.primaryButton.solid {
    background: var(--color_container_primary);
    color: var(--color_text_neutral_0);
}

.primaryButton.outline {
    color: var(--color_text_primary);
    border: var(--color_border_primary) 1px solid;
}

.primaryButton.text {
    color: var(--color_text_primary);
}


/*secondaryButton settings*/
.secondaryButton.solid {
    background: var(--color_container_secondary);
    color: var(--color_text_neutral_0);
}

.secondaryButton.outline {
    color: var(--color_text_secondary);
    border: var(--color_border_secondary) 1px solid;
}

.secondaryButton.text {
    color: var(--color_text_secondary);
}